
$brand-primary-color:   #3646f5;
$brand-secondary-color: #29ff65;
$true-black:            #000000;
$lite-black:            #131313;
$off-black:             #151515;
$dark-grey:             #484848;
$light-grey:            #f2f2f2;
$true-white:            #ffffff;
$off-white:             #F6F6F6;

// $error-color:           #29ff65;
$warning-color:         #FF8400;
$notification-color:    #3646f5;
