@import 'colors';
@import 'variables';

html,
body {
  box-sizing: border-box;
  font-family: $base-font;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appContainer {
    width: 100%;
}

svg.correlated-svgs {
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}
