@import '../colors';
@import '../variables';

.errorContainer {
  align-items: center;
  border: 1px solid $brand-primary-color;
  border-radius: .5rem;
  color: $brand-primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
}

.header {
  color: $brand-primary-color;
  font-family: $base_font;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.125rem;
}

.copy {
  font-weight: 400;
}

.startOver {
  color: $brand-primary-color;
  font-family: $base_font;
  font-size: 1rem;
  margin-top: 2rem;
}
