@import '../colors';
@import '../variables';

.base {
  align-items: center;
  background-color: light-grey;
  border: 0;
  border-radius: $corner-radius;
  color: $lite-black;
  cursor: pointer;
  display: flex;
  font-family: $base_font;
  font-size: 0.875rem;
  justify-content: center;
  line-height: 1rem;
  margin: 0;
  opacity: 50%;
  padding: 0.25rem 0.5rem;
  position: absolute;
  right: 5px;
  top: 5px;

  &:hover,:focus {
    opacity: 80%;
  }
}
