@import '../colors';
@import '../variables';

.inputContainer {
  align-items: center;
  display: flex;
  font-family: $base_font;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  > fieldset {
    align-items: center;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    width: 100%;
  }
}

.legend {
  @extend .inputContainer;
  font-size: 1.5rem;
  line-height: 2rem;
  color: $brand-primary-color;
}
