@import '../colors';
@import '../variables';

.base {
  align-items: center;
  border: 0;
  border-radius: $corner-radius;
  color: $lite-black;
  display: flex;
  flex-direction: row;
  font-family: $base_font;
  font-size: 1rem;
  justify-content: center;
  line-height: 2rem;
  margin: 0 1rem;
  min-width: 20%;
}

.activeButton {
  @extend .base;
  background-color: $brand-primary-color;
  color: $true-white;
  cursor: pointer;
  opacity: 100%;

  &:hover,:focus {
    background-color: lighten($brand-primary-color, 5%);
  }

  & svg {
    fill: $true-white;
    height: 1.5rem;
    width: 1.5rem;
  }
}

.inactiveButton {
  @extend .base;
  background-color: $dark-grey;
  color: $true-white;
  cursor: not-allowed;
  opacity: 40%;

  & svg {
    fill: $true-white;
    height: 1.5rem;
    width: 1.5rem;
  }
}

.loadingIndicator {
  font-family: $base_font;
  color: $true-white;
  display: flex;
  flex-direction: row;
  padding: 0.25rem 0;
}

.spin {
  align-items: center;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: flex;
  justify-content: center;
}
