@import '../colors';
@import '../variables';

.inputContainer {
  align-items: center;
  border: none;
  color: $lite-black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: $base_font;
  font-size: 1rem;
  line-height: 1.125rem;
  margin: 0;
  padding: 0;
  width: 100%;
}

.h1 {
  color: $brand-primary-color;
  font-family: $base_font;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.125rem;
}

.slug {
  background-color: rgba($brand-primary-color, 40%);
  border-radius: $corner-radius;
  color: $true-white;
  font-family: $base_font;
  font-size: 1rem;
  line-height: 1.125rem;
  padding: 1.25rem 2.5rem;
  position: relative;
}

.startOver {
  color: $brand-primary-color;
  font-family: $base_font;
  font-size: 1rem;
  margin-top: 2rem;
}
