@import '../colors';
@import '../variables';

$inputHorizontalOffset: 0.5rem;
$inputVerticalOffset: 1px;

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem $inputHorizontalOffset;
  position: relative;
  width: 100%;
}

.inputContainer {
  background-color: transparent;
  border: none;
  color: $lite-black;
  font-family: $base_font;
  font-size: 1rem;
  line-height: 1.125rem;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.commonInput {
  background: none;
  font-size: 1rem;
  line-height: 2rem;
  font-family: $base_font;
  outline: 0;
  width: 100%;
}

.placeHolder {
  @extend .commonInput;

  color: $dark-grey;
  font-family: $base_font;
  position: absolute;
  top: $inputVerticalOffset; // offset to eliminate "jump" in placeholder and input
  left: $inputHorizontalOffset; // offset to eliminate "jump" in placeholder and input
  z-index: 1;

}

.placeHolderError {
  @extend .placeHolder;

  color: $warning-color;
}

.inputValid {
  @extend .commonInput;

  border: 1px solid $off-black;
  border-radius: $corner-radius;
  padding: 0 $inputHorizontalOffset;

  &:focus {
    border-color: $brand-primary-color;
    color: $brand-primary-color;
    box-shadow: none !important;
  }

  &:invalid {
    box-shadow: none !important;
  }
}

.inputError {
  @extend .commonInput;

  border: 1px solid $warning-color;
  border-radius: $corner-radius;
  color: $warning-color;
  padding: 0 $inputHorizontalOffset;

  &:focus {
    border-color: $brand-primary-color;
    color: $brand-primary-color;
    box-shadow: none !important;
  }

  &:invalid {
    box-shadow: none !important;
  }
}

.errorContainer {
  color: $warning-color;
  font-family: $base_font;
  font-size: 0.875rem;
  position: absolute;
  top: 1.5rem;
}
